body {
	width: 100%;
	margin: 0 auto;
	clear: both;
	color: #001f3f;
}

header {
	text-align: center;
	font-weight: 900;
	font-size: 30pt;
	padding: 10px;
	margin-bottom: 30px;
	border-top: 10px solid #001f3f;
}

.container {
	width: 70%;
	text-align: center;
	margin: 0 auto;
}

.box-wrapper {
	height: 300px;
	margin: 10px auto;
}
.box {
	width: 33.3%;
	display: inline-block;
	box-sizing: border-box;
	border-radius: 10px; 
}
#computer-box {
	background-color: #DDDDDD;
	height: inherit;
	float: left;
}
#round-box {
	margin-top: 100px;
}
#target-number {
	font-weight: 900;
	font-size: 25pt;
}
#player-box {
	border: 5px solid #39CCCC;
	float: right;
	height: inherit;
}

.name-label {
	margin-top: 5px;
}
.guess {
	margin: 50px auto;
	font-size: 30pt;
}

.name-label {
	font-weight: 700;
	font-size: 20pt;
}

.num-control {
	background-color: #39CCCC;
	font-size: 18pt;
	width: 50px;
	margin: 0px 0px;
	border-radius: 20px;
	border: none;
}

.left { cursor: vertical-text; }

.right { cursor: crosshair; }

.text-btn {
	display: flex;
	margin: 5px auto;
	cursor: pointer;
	border: none;
	border-radius: 10px;
	padding: 10px 20px;
}

#guess-btn {
	background-color: #DDDDDD;
	font-size: 12pt;
	font-weight: 700;
}

#next-btn {
	display: block;
	margin: 5px auto;
	font-size: 20pt;
}

.instructions {
	width: 100%;
	height: 30px;
	color: white;
	background-color: #001f3f;
	bottom: 0;
	position: absolute;
	padding: 30px 0px;
}

.instruction {
	text-align: center;
	float: left;
	width: 33.3%;
}

button:disabled {
	cursor: not-allowed;
}