body {
	width: 100%;
	margin: 0 auto;
	clear: both;
	color: #001f3f;
	font-size: 12pt;
	overflow: auto;
	margin: 0 auto;
	min-height: 100%;
}

header {
	text-align: center;
	font-weight: 900;
	font-size: 30pt;
	border-top: 10px solid #001f3f;
	margin-bottom: 40px;
}

.container {
	width: 80%;
	text-align: center;
	margin: 0 auto;
	min-height: 100%;
	padding-bottom: 100px;
}

.box-wrapper {
	height: 300px;
	margin: 10px auto;
}

.box {
	width: 33.3%;
	display: inline-block;
	box-sizing: border-box;
	border-radius: 10px; 
}

#computer-box {
	background-color: #DDDDDD;
	height: inherit;
	float: left;
}
#computer-wins {
	color: #FF4136;
}
#round-box {
	margin-top: 90px;
}
#target-number {
	font-weight: 900;
	font-size: 25pt;
}
#player-box {
	border: 5px solid #39CCCC;
	float: right;
	height: inherit;
}

.name-label {
	margin-top: 3px;
	font-weight: 700;
	font-size: 20pt;
}

.guess {
	margin: 50px auto;
	font-size: 30pt;
}

.num-control {
	background-color: #39CCCC;
	font-size: 18pt;
	width: 50px;
	margin: 0px 0px;
	border-radius: 20px;
	border: none;
}

.sub-btn { cursor: vertical-text; }

.add-btn { cursor: crosshair; }

button:disabled { cursor: not-allowed; }

.text-btn {
	display: flex;
	margin: 5px auto;
	cursor: pointer;
	border: none;
	border-radius: 10px;
	padding: 10px 20px;
}
#guess-btn {
	background-color: #DDDDDD;
	font-size: 12pt;
	font-weight: 700;
}
#next-btn {
	display: block;
	margin: 5px auto;
	font-size: 20pt;
	padding: 10px;
}

.instructions {
	min-width: 100%;
	color: white;
	bottom: 0;
	position: fixed;
	height: 90px; 
	background-color: #001f3f;
}
.instruction {
	display: inline-block;
	text-align: center;
	float: left;
	width: 33.3%;
	box-sizing: border-box;
	line-height: 1em;
	margin: 8px auto;
}
.instruction h1 {
	margin-top: 8px;
	font-size: 18pt;
}

@media only screen and (max-width: 740px) {
	.box {
		width: 100%;
		max-height: 200px;
		display: block;
		margin-bottom: 20px;
	}
	#round-box {
		float: left;
		margin-top: 0px;
	}
	#player-box {
		min-height: 290px;
	}
	header { 
		margin-bottom: 0px; }
}